Repository janeirodigital/sai-impl-service: changes, and which Codecov flags are due for each by the changed paths.
All: application, api-messages

codecov.yml:

coverage:
  status:
    projects:
      default: off
      service:
        flags:
          - service
      api-mesages:
        flags:
          - api-messages
flags:
  application:
    paths:
      - packages/service
  api-messages:
    paths:
      - packages/api-messages

updated to latest sai-js
  packages/css-storage-fixture/alice/dataRegistry/.meta
  packages/interfaces/package.json
  packages/mocks/package.json
  packages/service/package.json
  packages/service/src/services/descriptions.ts
  packages/service/src/services/social-agents.ts
  packages/service/src/utils/jsonld-parser.ts
Due: application

fixed codecov link
  packages/service/README.md
Due: application

fixed webId an webid variable names
  packages/service/src/handlers/agents-handler.ts
Due: application

[css-storage-fixture] expanded bob's storage
  packages/css-storage-fixture/alice/agentRegistry/.meta
  packages/css-storage-fixture/alice/agentRegistry/acme/.meta
  packages/css-storage-fixture/alice/dataRegistry/tasks/.meta
  packages/css-storage-fixture/bob/agentRegistry/.meta
  packages/css-storage-fixture/bob/agentRegistry/alice/.meta
  packages/css-storage-fixture/bob/dataRegistry/.meta
  packages/css-storage-fixture/bob/dataRegistry/projects/.meta
  packages/css-storage-fixture/bob/dataRegistry/tasks/.meta
  packages/css-storage-fixture/bob/profile/card$.ttl
  packages/css-storage-fixture/bob/registrySet$.ttl
Due: none

adding a social agent
  packages/api-messages/src/index.ts
  packages/service/src/handlers/api-handler.ts
  packages/service/src/services/social-agents.ts
Due: application, api-messages

updated sai-js
  packages/interfaces/package.json
  packages/mocks/package.json
  packages/service/package.json
Due: application

base for webhook notifications
  packages/service/README.md
  packages/service/config/common.json
  packages/service/package.json
  packages/service/src/handlers/webhooks-handler.ts
  packages/service/src/index.ts
  packages/service/src/services/social-agents.ts
  packages/service/src/url-templates.ts
Due: application

fundation of push subscription
  package-lock.json
  packages/interfaces/src/i-session-manager.ts
  packages/mocks/src/mocked-session-manager.ts
  packages/service/.env
  packages/service/README.md
  packages/service/config/common.json
  packages/service/package.json
  packages/service/src/handlers/push-subscription-handler.ts
  packages/service/src/index.ts
  packages/service/src/services/web-push.ts
  packages/service/src/session-manager.ts
Due: application

bump api-messages version
  packages/api-messages/package.json
  packages/service/package.json
Due: application, api-messages

data registrations include labels and count
  packages/api-messages/package.json
  packages/api-messages/src/index.ts
  packages/service/package.json
  packages/service/src/handlers/api-handler.ts
  packages/service/src/services/data-registries.ts
  packages/service/src/services/descriptions.ts
Due: application, api-messages

MIT license used in consistent way (closes #27)
  packages/api-messages/LICENSE
  packages/css-storage-fixture/LICENSE
  packages/interfaces/LICENSE
  packages/interfaces/package.json
  packages/mocks/LICENSE
  packages/mocks/package.json
  packages/service/LICENSE
  packages/service/package.json
Due: application, api-messages

authorization data
  packages/api-messages/src/index.ts
  packages/css-storage-fixture/acme/projectron/access-needs$.ttl
  packages/css-storage-fixture/acme/projectron/id$.jsonld
  packages/service/src/services/descriptions.ts
Due: application, api-messages

authz plumbing nearly done
  packages/api-messages/src/index.ts
  packages/css-storage-fixture/acme/projectron/access-needs$.ttl
  packages/css-storage-fixture/acme/projectron/descriptions-en$.ttl
  packages/service/src/handlers/api-handler.ts
  packages/service/src/services/descriptions.ts
Due: application, api-messages

enable HTTP HEAD on agent route
  packages/service/config/common.json
Due: application

uses webid in social agent discovery response header
  packages/service/src/handlers/agents-handler.ts
  packages/service/test/integration/agents-test.ts
  packages/service/test/unit/handlers/agents-handler-test.ts
Due: application

update comment
  packages/service/src/handlers/agents-handler.ts
Due: application

Expose Link headers to fetch API clients
  packages/service/config/common.json
Due: application

adjust to main sai-js
  packages/service/src/services/social-agents.ts
Due: application

records access authorization
  packages/api-messages/src/index.ts
  packages/css-storage-fixture/alice/authorizationRegistry/.meta
  packages/service/src/services/descriptions.ts
Due: application, api-messages

[api-messages] bump to 0.4.0
  packages/api-messages/package.json
  packages/service/package.json
Due: application, api-messages

limit app description to OIDC metadata and SAI authz info
  packages/api-messages/src/index.ts
  packages/css-storage-fixture/acme/projectron/id$.jsonld
  packages/css-storage-fixture/alice/agentRegistry/test-client/.meta
  packages/service/src/handlers/agents-handler.ts
  packages/service/src/services/applications.ts
Due: application, api-messages

[css-storage-fixture] corrected email (Bob)
  packages/css-storage-fixture/.internal/accounts/YWNjb3VudC9ib2IlNDB5b3lvZHluZS5leGFtcGxl$.json
  packages/css-storage-fixture/.internal/accounts/YWNjb3VudC9ib2IlNDB5b3lvZHluZS5vcmc=$.json
  packages/css-storage-fixture/bob/.acl
Due: none

added documentation
  README.md
  packages/api-messages/README.md
  packages/css-storage-fixture/README.md
  packages/interfaces/README.md
  packages/interfaces/package.json
  packages/mocks/README.md
  packages/mocks/package.json
  packages/service/README.md
Due: application, api-messages

[service] cleaned up imports
  packages/service/src/componentsMain.ts
  packages/service/src/handlers/agents-handler.ts
  packages/service/src/handlers/api-handler.ts
  packages/service/src/handlers/authn-context-handler.ts
  packages/service/src/handlers/authorization-agent-context-handler.ts
  packages/service/src/handlers/http-sequence-context-handler.ts
  packages/service/src/handlers/login-handler.ts
  packages/service/src/handlers/login-redirect-handler.ts
  packages/service/src/handlers/middleware-http-handler.ts
  packages/service/src/handlers/push-subscription-handler.ts
  packages/service/src/handlers/webhooks-handler.ts
  packages/service/src/models/http-solid-context.ts
  packages/service/src/services/applications.ts
  packages/service/src/services/data-registries.ts
  packages/service/src/services/descriptions.ts
Due: application

[service] removed unused code
  packages/service/src/services/access-needs.ts
  packages/service/src/services/consents.ts
  packages/service/src/services/index.ts
Due: application

[server] modularized Components.js config
  packages/service/config/common.json
  packages/service/config/controllers/agents.json
  packages/service/config/controllers/api.json
  packages/service/config/controllers/login-redirect.json
  packages/service/config/controllers/login.json
  packages/service/config/controllers/push-subscription.json
  packages/service/config/controllers/webhooks.json
Due: application

added background jobs with BullMQ
  packages/interfaces/src/index.ts
  packages/interfaces/src/queue.ts
  packages/interfaces/src/worker.ts
  packages/service/.componentsignore
  packages/service/config/controllers/api.json
  packages/service/config/development.json
  packages/service/config/service.json
  packages/service/config/test.json
  packages/service/config/workers/reciprocal-registrations.json
  packages/service/package.json
  packages/service/src/bull-queue.ts
  packages/service/src/bull-worker.ts
  packages/service/src/componentsMain.ts
  packages/service/src/handlers/api-handler.ts
  packages/service/src/index.ts
  packages/service/src/models/jobs.ts
  packages/service/src/processors/reciprocal-registrations.ts
  packages/service/src/services/social-agents.ts
Due: application

removed in memory storage
  packages/service/src/in-memory-storage.ts
  packages/service/src/index.ts
Due: application

added mocked queue for tests
  packages/mocks/.componentsignore
  packages/mocks/src/index.ts
  packages/mocks/src/mocked-queue.ts
  packages/service/config/test.json
Due: application

Session Manager persists webhook subscriptions
  packages/interfaces/src/i-session-manager.ts
  packages/mocks/src/mocked-session-manager.ts
  packages/service/src/session-manager.ts
Due: application

[service] added background queue subscribing to access inbox
  packages/css-storage-fixture/alice/accessInbox/.acl
  packages/css-storage-fixture/alice/profile/card$.ttl
  packages/service/config/controllers/login-redirect.json
  packages/service/config/development.json
  packages/service/config/test.json
  packages/service/config/workers/access-inbox.json
  packages/service/src/componentsMain.ts
  packages/service/src/handlers/login-redirect-handler.ts
  packages/service/src/index.ts
  packages/service/src/models/jobs.ts
  packages/service/src/processors/access-inbox.ts
  packages/service/src/processors/reciprocal-registrations.ts
  packages/service/test/unit/handlers/login-redirect-handler-test.ts
Due: application

Replace package-lock.json with yarn.lock file
  .gitignore
  package-lock.json
  yarn.lock
Due: none

bumped sai-js dependency
  packages/interfaces/package.json
  packages/mocks/package.json
  packages/service/package.json
Due: application

[service] added queue and worker updating delegated grants
  packages/interfaces/src/i-session-manager.ts
  packages/mocks/src/mocked-session-manager.ts
  packages/service/config/development.json
  packages/service/config/test.json
  packages/service/config/workers/delegated-grants.json
  packages/service/src/handlers/push-subscription-handler.ts
  packages/service/src/handlers/webhooks-handler.ts
  packages/service/src/index.ts
  packages/service/src/models/jobs.ts
  packages/service/src/processors/delegated-grants.ts
  packages/service/src/session-manager.ts
Due: application

[service] added queue and worker sending push notifications
  packages/service/config/controllers/webhooks.json
  packages/service/config/development.json
  packages/service/config/test.json
  packages/service/config/workers/push-notifications.json
  packages/service/src/componentsMain.ts
  packages/service/src/handlers/webhooks-handler.ts
  packages/service/src/index.ts
  packages/service/src/models/jobs.ts
  packages/service/src/processors/push-notifications.ts
Due: application

[service] unit tests for PushSubscriptionHandler
  packages/service/test/unit/handlers/push-subscription-handler-test.ts
Due: application

[service] unit tests for WebHooksHandler
  packages/service/src/handlers/webhooks-handler.ts
  packages/service/test/unit/handlers/webhooks-handler-test.ts
Due: application

[service] unit tests for url templates
  packages/service/src/processors/access-inbox.ts
  packages/service/src/processors/reciprocal-registrations.ts
  packages/service/src/url-templates.ts
  packages/service/test/unit/url-templates-test.ts
Due: application

[service] missing tests for SessionManager
  packages/service/src/session-manager.ts
  packages/service/test/unit/session-manager-test.ts
Due: application
