Repository janeirodigital/sai-impl-service: changes, and which Codecov flags are due for each by the changed paths.
All: application, api-messages

[service] unit tests for BullQueue and BullWorker
  packages/service/src/bull-worker.ts
  packages/service/test/unit/bull-queue-test.ts
  packages/service/test/unit/bull-worker-test.ts
Due: application

[service] unit tests for AccessInboxProcessor
  packages/service/src/processors/access-inbox.ts
  packages/service/test/unit/processors/access-inbox-test.ts
Due: application

[service] unit tests for DelegatedGrantsProcessor
  packages/service/test/unit/processors/delegated-grants-test.ts
  packages/service/test/unit/processors/push-notifications-test.ts
Due: application

[service] updated and unit tested ReciprocalRegistrationsProcessor
  packages/service/src/processors/reciprocal-registrations.ts
  packages/service/test/unit/processors/reciprocal-registrations-test.ts
Due: application

[service] updated and unit tested applications service
  packages/service/src/services/applications.ts
  packages/service/test/unit/services/applications-test.ts
Due: application

[service] updated and unit tested social agents service
  packages/service/src/services/social-agents.ts
  packages/service/test/unit/services/social-agents-test.ts
Due: application

[service] updated and unit tested web push service
  packages/service/src/services/web-push.ts
  packages/service/test/unit/services/web-push-test.ts
Due: application

[service] moved shape tree classes to sai-js
  packages/service/src/handlers/api-handler.ts
  packages/service/src/services/data-registries.ts
  packages/service/src/services/descriptions.ts
Due: application

[service] unit tested data registries service
  packages/service/test/unit/services/data-registries-test.ts
Due: application

[service] moved access need (group) classes to sai-js
  packages/service/src/services/descriptions.ts
Due: application

updated to latest sai-js
  packages/api-messages/package.json
  packages/interfaces/package.json
  packages/mocks/package.json
  packages/service/package.json
  yarn.lock
Due: application, api-messages

[service] unit tests for api handler
  packages/service/src/handlers/api-handler.ts
  packages/service/src/services/descriptions.ts
  packages/service/src/utils/http-validators.ts
  packages/service/test/unit/handlers/api-handler-test.ts
Due: application

[service] unit tests for descriptions service
  packages/service/src/services/descriptions.ts
  packages/service/test/unit/services/descriptions-test.ts
Due: application

[api-messages] added unit tests
  packages/api-messages/jest.config.js
  packages/api-messages/package.json
  packages/api-messages/src/index.ts
  packages/api-messages/test/index-test.ts
Due: api-messages

[api-messages] small refactor
  packages/api-messages/src/index.ts
Due: api-messages

[service] removed rdf helpers (not used any more)
  packages/service/src/utils/rdf-parser.ts
Due: application

CI runs tests for api-mesages
  .github/workflows/ci.yml
  packages/api-messages/README.md
Due: api-messages

various changes based on the demo app development
  packages/api-messages/package.json
  packages/api-messages/src/index.ts
  packages/css-storage-fixture/acme/projectron/id$.jsonld
  packages/css-storage-fixture/alice/dataRegistry/projects/.meta
  packages/css-storage-fixture/alice/dataRegistry/projects/project-1$.ttl
  packages/css-storage-fixture/alice/dataRegistry/projects/project-2$.ttl
  packages/css-storage-fixture/shapetrees/shapes/Project$.shex
  packages/css-storage-fixture/shapetrees/shapes/Task$.shex
  packages/interfaces/package.json
  packages/mocks/package.json
  packages/service/package.json
  packages/service/src/services/descriptions.ts
  packages/service/test/integration/agents-test.ts
  packages/service/test/integration/authn-test.ts
  packages/service/test/unit/services/descriptions-test.ts
  yarn.lock
Due: application, api-messages

[css-storage-fixture] added tasks snippets
  packages/css-storage-fixture/alice/dataRegistry/projects/project-1$.ttl
  packages/css-storage-fixture/alice/dataRegistry/tasks/task-1$.ttl
  packages/css-storage-fixture/alice/dataRegistry/tasks/task-2$.ttl
  packages/css-storage-fixture/shapetrees/trees/Project$.ttl
Due: none

[css-storage-fixture] added acme projects and tasks
  packages/css-storage-fixture/acme/dataRegistry/.meta
  packages/css-storage-fixture/acme/dataRegistry/projects/.acl
  packages/css-storage-fixture/acme/dataRegistry/projects/.meta
  packages/css-storage-fixture/acme/dataRegistry/projects/project-a$.ttl
  packages/css-storage-fixture/acme/dataRegistry/tasks/.acl
  packages/css-storage-fixture/acme/dataRegistry/tasks/.meta
  packages/css-storage-fixture/acme/dataRegistry/tasks/task-a$.ttl
  packages/css-storage-fixture/acme/profile/card$.ttl
  packages/css-storage-fixture/alice/agentRegistry/.meta
  packages/css-storage-fixture/alice/profile/card$.ttl
Due: none

Add Docker image and github publish to GHCR
  .github/workflows/ci.yml
  Dockerfile
Due: none

separated data into multiple registries
  packages/css-storage-fixture/alice-home/.acl
  packages/css-storage-fixture/alice-home/.meta
  packages/css-storage-fixture/alice-home/README$.markdown
  packages/css-storage-fixture/alice-home/README.acl
  packages/css-storage-fixture/alice-home/dataRegistry/.meta
  packages/css-storage-fixture/alice-home/dataRegistry/projects/.meta
  packages/css-storage-fixture/alice-home/dataRegistry/projects/project-1$.ttl
  packages/css-storage-fixture/alice-home/dataRegistry/projects/project-2$.ttl
  packages/css-storage-fixture/alice-home/dataRegistry/tasks/.meta
  packages/css-storage-fixture/alice-home/dataRegistry/tasks/task-1$.ttl
  packages/css-storage-fixture/alice-home/dataRegistry/tasks/task-2$.ttl
  packages/css-storage-fixture/alice-work/.acl
  packages/css-storage-fixture/alice-work/.meta
  packages/css-storage-fixture/alice-work/README$.markdown
  packages/css-storage-fixture/alice-work/README.acl
  packages/css-storage-fixture/alice-work/dataRegistry/.meta
  packages/css-storage-fixture/alice-work/dataRegistry/projects/.meta
  packages/css-storage-fixture/alice-work/dataRegistry/projects/project-a$.ttl
  packages/css-storage-fixture/alice-work/dataRegistry/projects/project-b$.ttl
  packages/css-storage-fixture/alice-work/dataRegistry/tasks/.meta
  packages/css-storage-fixture/alice-work/dataRegistry/tasks/task-a$.ttl
  packages/css-storage-fixture/alice-work/dataRegistry/tasks/task-b$.ttl
  packages/css-storage-fixture/alice/agentRegistry/.meta
  packages/css-storage-fixture/alice/dataRegistry/.meta
  packages/css-storage-fixture/alice/dataRegistry/projects/.meta
  packages/css-storage-fixture/alice/dataRegistry/projects/project-1$.ttl
  packages/css-storage-fixture/alice/dataRegistry/tasks/.meta
  packages/css-storage-fixture/alice/registrySet$.ttl
Due: none

[service, api-messages] handle access not granted
  packages/api-messages/src/index.ts
  packages/service/package.json
  packages/service/src/services/descriptions.ts
Due: application, api-messages

Add redis deploy/env inputs
  Dockerfile
  deploy/DEPLOY.md
  deploy/bootstrap.sh
  deploy/config-template.json
  packages/service/package-lock.json
  packages/service/package.json
  packages/service/src/componentsMain.ts
  yarn.lock
Due: application

updated sai-js
  packages/interfaces/package.json
  packages/mocks/package.json
  packages/service/package.json
Due: application

updated tests
  packages/api-messages/test/index-test.ts
  packages/service/test/unit/services/descriptions-test.ts
Due: application, api-messages

Add unregistered application profile
  packages/api-messages/src/index.ts
  packages/service/src/handlers/api-handler.ts
  packages/service/src/services/applications.ts
  packages/service/test/unit/services/applications-test.ts
Due: application, api-messages

[api-messages] bump version
  packages/api-messages/package.json
  packages/service/package.json
Due: application, api-messages

Add bootstrap scripts to build artifacts
  .github/workflows/ci.yml
Due: none

Fix missing deploy scripts in runtime image
  Dockerfile
Due: none

Fix env vars
  deploy/bootstrap.sh
  deploy/config-template.json
Due: none

Unify Redis connection
  packages/service/config/development.json
  packages/service/config/redis-connection.json
  packages/service/config/workers/access-inbox.json
  packages/service/config/workers/delegated-grants.json
  packages/service/config/workers/push-notifications.json
  packages/service/config/workers/reciprocal-registrations.json
  packages/service/package.json
  packages/service/src/bull-queue.ts
  packages/service/src/bull-worker.ts
  packages/service/src/index.ts
  packages/service/src/redis-connection-info.ts
  packages/service/src/redis-storage.ts
  yarn.lock
Due: application

Update and fix config files
  deploy/config-template.json
  packages/service/config/development.json
  packages/service/config/redis-connection.json
  packages/service/src/redis-connection-info.ts
Due: application

Fix tests to use added connection parameters
  packages/service/test/unit/bull-queue-test.ts
  packages/service/test/unit/bull-worker-test.ts
Due: application

Remove unused context
  deploy/config-template.json
Due: none

Add connection info to queue config inputs
  deploy/config-template.json
Due: none

Rename redis-info to RedisConnectionInfo
  packages/service/config/development.json
  packages/service/config/workers/access-inbox.json
  packages/service/config/workers/delegated-grants.json
  packages/service/config/workers/push-notifications.json
  packages/service/config/workers/reciprocal-registrations.json
Due: application

Cast port and db inputs to numbers
  packages/service/src/redis-connection-info.ts
Due: application

Add UnregisteredApplicationProfile API handler
  packages/api-messages/src/index.ts
  packages/service/test/unit/services/applications-test.ts
Due: application, api-messages

Split api messages classes into their own file
  packages/api-messages/src/index.ts
  packages/api-messages/src/payloads.ts
  packages/api-messages/src/requests.ts
  packages/api-messages/src/responses.ts
  packages/service/src/handlers/api-handler.ts
Due: application, api-messages

Path conditions:
  application: any of: packages/service
  api-messages: any of: packages/api-messages
