Repository janeirodigital/sai-impl-service: changes, and which Codecov flags are due for each by the changed paths.
All: application, api-messages

Add unregistered application handler
  packages/service/config/development.json
  packages/service/src/services/applications.ts
  packages/service/src/services/descriptions.ts
Due: application

Remove un-useful logging
  packages/service/src/handlers/api-handler.ts
Due: application

Fix eslint warning
  packages/service/src/handlers/api-handler.ts
Due: application

Bump api-messages to 0.8.0
  packages/api-messages/package.json
  yarn.lock
Due: api-messages

do not delete dist when re-building
  packages/interfaces/package.json
  packages/mocks/package.json
  packages/service/package.json
Due: application

[api-messages] support for resource based sharing
  packages/api-messages/package.json
  packages/api-messages/src/index.ts
  packages/api-messages/src/payloads.ts
  packages/api-messages/src/requests.ts
  packages/api-messages/src/responses.ts
  packages/api-messages/test/index-test.ts
Due: api-messages

[service] support for resource based sharing
  packages/service/package.json
  packages/service/src/handlers/api-handler.ts
  packages/service/src/services/data-instance.ts
  packages/service/src/services/index.ts
  packages/service/test/unit/handlers/api-handler-test.ts
  packages/service/test/unit/services/data-instance-test.ts
Due: application

update sai-js version
  packages/interfaces/package.json
  packages/mocks/package.json
  packages/service/package.json
Due: application

update dependencies
  package.json
  packages/api-messages/package.json
  packages/css-storage-fixture/.internal/setup/Y3VycmVudC1zZXJ2ZXItdmVyc2lvbg==$.json
  packages/css-storage-fixture/package.json
  packages/interfaces/package-lock.json
  packages/interfaces/package.json
  packages/mocks/package-lock.json
  packages/mocks/package.json
  packages/service/config/development.json
  packages/service/config/service.json
  packages/service/package.json
  packages/service/setup-jest.js
  packages/service/src/componentsMain.ts
  packages/service/src/handlers/api-handler.ts
  packages/service/src/handlers/login-handler.ts
  packages/service/src/handlers/login-redirect-handler.ts
  packages/service/src/handlers/push-subscription-handler.ts
  packages/service/src/handlers/webhooks-handler.ts
  packages/service/src/services/social-agents.ts
  packages/service/test/integration/components-builder.ts
  packages/service/test/unit/handlers/api-handler-test.ts
  packages/service/test/unit/handlers/login-handler-test.ts
  packages/service/test/unit/services/data-instance-test.ts
  packages/service/test/unit/services/descriptions-test.ts
  yarn.lock
Due: application, api-messages

[api-messages] extend Request type definition
  packages/api-messages/package.json
  packages/api-messages/src/requests.ts
  packages/service/package.json
Due: application, api-messages

[css-storage-fixture] snippets for support of blobs
  packages/css-storage-fixture/acme/projectron/access-needs$.ttl
  packages/css-storage-fixture/acme/projectron/descriptions-en$.ttl
  packages/css-storage-fixture/alice-work/dataRegistry/.meta
  packages/css-storage-fixture/alice-work/dataRegistry/files/.meta
  packages/css-storage-fixture/alice-work/dataRegistry/files/solid-interop$.ics
  packages/css-storage-fixture/alice-work/dataRegistry/files/solid-interop.meta
  packages/css-storage-fixture/alice-work/dataRegistry/images/.meta
  packages/css-storage-fixture/alice-work/dataRegistry/images/cat$.png
  packages/css-storage-fixture/alice-work/dataRegistry/images/cat.meta
  packages/css-storage-fixture/alice-work/dataRegistry/projects/project-a$.ttl
  packages/css-storage-fixture/shapetrees/trees/File$.ttl
  packages/css-storage-fixture/shapetrees/trees/Image$.ttl
  packages/css-storage-fixture/shapetrees/trees/Project$.ttl
  packages/css-storage-fixture/shapetrees/trees/desc-en$.ttl
  packages/css-storage-fixture/shapetrees/trees/desc-pl$.ttl
Due: none

Update packages/css-storage-fixture/alice-work/dataRegistry/images/cat.meta
  packages/css-storage-fixture/alice-work/dataRegistry/images/cat.meta
Due: none

[css-storage-fixture] snippets for support of blobs (#86)
  packages/css-storage-fixture/acme/projectron/access-needs$.ttl
  packages/css-storage-fixture/acme/projectron/descriptions-en$.ttl
  packages/css-storage-fixture/alice-work/dataRegistry/.meta
  packages/css-storage-fixture/alice-work/dataRegistry/files/.meta
  packages/css-storage-fixture/alice-work/dataRegistry/files/solid-interop$.ics
  packages/css-storage-fixture/alice-work/dataRegistry/files/solid-interop.meta
  packages/css-storage-fixture/alice-work/dataRegistry/images/.meta
  packages/css-storage-fixture/alice-work/dataRegistry/images/cat$.png
  packages/css-storage-fixture/alice-work/dataRegistry/images/cat.meta
  packages/css-storage-fixture/alice-work/dataRegistry/projects/project-a$.ttl
  packages/css-storage-fixture/shapetrees/trees/File$.ttl
  packages/css-storage-fixture/shapetrees/trees/Image$.ttl
  packages/css-storage-fixture/shapetrees/trees/Project$.ttl
  packages/css-storage-fixture/shapetrees/trees/desc-en$.ttl
  packages/css-storage-fixture/shapetrees/trees/desc-pl$.ttl
Due: none

updated sai-js to 1.0.0-rc.19
  packages/interfaces/package.json
  packages/mocks/package.json
  packages/service/package.json
Due: application

Path conditions:
  application: any of: packages/service
  api-messages: any of: packages/api-messages
